; {{ ansible_managed }}
; Last updated: {{ ansible_date_time.date }}
; {{ role_path }}

{% if GITEA_APP_NAME is defined and GITEA_APP_NAME|length %}APP_NAME       = {{ GITEA_APP_NAME }}{% endif %}
{% if GITEA_RUN_USER is defined and GITEA_RUN_USER|length %}RUN_USER       = {{ GITEA_RUN_USER }}{% endif %}
RUN_MODE       = {{ GITEA_RUN_MODE }}


[security]
INSTALL_LOCK        = {{ GITEA_INSTALL_LOCK }}
SECRET_KEY          = {{ GITEA_SECRET_KEY }}
LOGIN_REMEMBER_DAYS = {{ GITEA_LOGIN_REMEMBER_DAYS }}
INTERNAL_TOKEN      = {{ GITEA_INTERNAL_TOKEN }}

[database]
DB_TYPE  = {{ GITEA_DB_TYPE }}
{% if GITEA_DB_TYPE == "mysql" %}
HOST     = {{ GITEA_DB_HOST }}
NAME     = {{ GITEA_DB_NAME }}
USER     = {{ GITEA_DB_USER }}
PASSWD   = {{ GITEA_DB_PASSWD }}
SSL_MODE = {{ GITEA_DB_SSL_MODE }}
{% endif %}
{% if GITEA_DB_TYPE == "sqlite3" %}
PATH     = {{ GITEA_DB_SQLite_path}}
{% endif %}

{# {% if $1 is defined and variable %} {% endif %} #}
[repository]
ROOT = {{ GITEA_ROOT }}
SCRIPT_TYPE = {{ GITEA_SCRIPT_TYPE }}
ANSI_CHARSET = {{ GITEA_ANSI_CHARSET }}
FORCE_PRIVATE = {{ GITEA_FORCE_PRIVATE }}
DEFAULT_PRIVATE = {{ GITEA_DEFAULT_PRIVATE }}
MAX_CREATION_LIMIT = {{ GITEA_MAX_CREATION_LIMIT }}
MIRROR_QUEUE_LENGTH = {{ GITEA_MIRROR_QUEUE_LENGTH }}
PULL_REQUEST_QUEUE_LENGTH = {{ GITEA_PULL_REQUEST_QUEUE_LENGTH }}
PREFERRED_LICENSES = {{ GITEA_PREFERRED_LICENSES }}
DISABLE_HTTP_GIT = {{ GITEA_DISABLE_HTTP_GIT }}
ACCESS_CONTROL_ALLOW_ORIGIN = {{ GITEA_ACCESS_CONTROL_ALLOW_ORIGIN }}
USE_COMPAT_SSH_URI = {{ GITEA_USE_COMPAT_SSH_URI }}
DEFAULT_CLOSE_ISSUES_VIA_COMMITS_IN_ANY_BRANCH = {{ GITEA_DEFAULT_CLOSE_ISSUES_VIA_COMMITS_IN_ANY_BRANCH }}


[server]
SSH_DOMAIN       = {{ GITEA_SSH_DOMAIN }}
DOMAIN           = {{ GITEA_DOMAIN }}
HTTP_PORT        = {{ GITEA_HTTP_PORT }}
ROOT_URL         = {{ GITEA_ROOT_URL }}
DISABLE_SSH      = {{ GITEA_DISABLE_SSH }}
SSH_PORT         = {{ GITEA_SSH_PORT }}
LFS_START_SERVER = {{ GITEA_LFS_START_SERVER }}
LFS_CONTENT_PATH = {{ GITEA_LFS_CONTENT_PATH }}
LFS_JWT_SECRET   = {{ GITEA_LFS_JWT_SECRET }}
OFFLINE_MODE     = {{ GITEA_OFFLINE_MODE }}

[mailer]
ENABLED = {{ GITEA_mailer_ENABLED }}
{% if GITEA_mailer_ENABLED %}
HOST    = {{ GITEA_mailer_HOST }}
FROM    = {{ GITEA_mailer_FROM }}
USER    = {{ GITEA_mailer_USER }}
PASSWD  = {{ GITEA_mailer_PASSWD }}
{% endif %}

[service]
REGISTER_EMAIL_CONFIRM            = {{ GITEA_REGISTER_EMAIL_CONFIRM }}
ENABLE_NOTIFY_MAIL                = {{ GITEA_ENABLE_NOTIFY_MAIL }}
DISABLE_REGISTRATION              = {{ GITEA_DISABLE_REGISTRATION }}
ALLOW_ONLY_EXTERNAL_REGISTRATION  = {{ GITEA_ALLOW_ONLY_EXTERNAL_REGISTRATION }}
ENABLE_CAPTCHA                    = {{ GITEA_ENABLE_CAPTCHA }}
REQUIRE_SIGNIN_VIEW               = {{ GITEA_REQUIRE_SIGNIN_VIEW }}
DEFAULT_KEEP_EMAIL_PRIVATE        = {{ GITEA_DEFAULT_KEEP_EMAIL_PRIVATE }}
DEFAULT_ALLOW_CREATE_ORGANIZATION = {{ GITEA_DEFAULT_ALLOW_CREATE_ORGANIZATION }}
DEFAULT_ENABLE_TIMETRACKING       = {{ GITEA_DEFAULT_ENABLE_TIMETRACKING }}
NO_REPLY_ADDRESS                  = {{ GITEA_NO_REPLY_ADDRESS }}

[picture]
DISABLE_GRAVATAR        = {{ GITEA_DISABLE_GRAVATAR }}
ENABLE_FEDERATED_AVATAR = {{ GITEA_ENABLE_FEDERATED_AVATAR }}

[openid]
ENABLE_OPENID_SIGNIN = {{ GITEA_ENABLE_OPENID_SIGNIN }}
ENABLE_OPENID_SIGNUP = {{ GITEA_ENABLE_OPENID_SIGNUP }}

[session]
PROVIDER = {{ GITEA_PROVIDER }}

[log]
MODE  = {{ GITEA_log_MODE }}
level = {{ GITEA_log_level }}
ROOT_PATH = {{ GITEA_log_ROOT_PATH }}


[oauth2]
JWT_SECRET = {{ GITEA_JWT_SECRET }}
